<p id="notice"><%= notice %></p>


<div >
  <h3>Accounts of <%=current_user.email%></h3>
    <% if user_signed_in? %>
    <div class="row">
    <% current_user.accounts.each do |account| %>
  
          <div class="col-lg p-3 m-3" style="background-color: #c4dcfc;">
              <h3 class="text-black"><%= account.account_type%> account</h3>
                 <p>Account Number: <%= account.number%> </p>
                 <p>Balance: <%= account.balance%> </p>
                <td><%= link_to 'Show', [current_user, account] %></td>
          </div>
     
     <% end %>
     </div>
    <% end %>
</div>

