<h1>Check your email</h1>
<p>Please enter the verification code to complete the transaction: </p>


<%= form_for :post, :url => { action: 'create_deposit' } do |form| %>
 <%= hidden_field_tag 'origin_transaction_id', @origin_transaction.id %>
<%= hidden_field_tag 'target_transaction_id', @target_transaction.id %>
  <div class="field">
    <%= form.label :confirmation_code %>
    <%= form.number_field :confirmation_code_user %>
  </div>
 <div class="actions">
    <%= form.submit %>
  </div>
<% end %>